#blog-container {
  margin-top: 10rem;
  margin-left: 8vw;
  color: white;
}

#first-blogpost-container {
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  gap: 5rem;
  width: 90%;
  height: 20rem;
  background-color: #1D1D1D;
  border-radius: 10px;
  transition: all 100ms;
}

#first-blogpost-container:hover,
.blogpost-preview-container:hover {
  cursor: pointer;
}

#first-blogpost-image {
  width: 30%;
  background-color: #1D1D1D;
  border-radius: 10px;
  justify-self: center;
  position: relative;
}

.excerpt-preview {
  font-size: 1.25rem;
  color: #9A9A9A
}

#first-blogpost-text-container {
  width: 70%;
}

.dot-seperator {
  font-size: 2rem;
}

.postmeta-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  color: #9A9A9A;
  gap: 2rem;
  margin-bottom: 1rem;
}

.tag-preview {
  color: #efba13;
  margin-right: 2rem;
}

.tag-preview:last-of-type {
  margin-right: 0;
}

.blogpost-preview-container {
  height: 100%;
  max-width: 30rem;
  padding: 2rem;
  background-color: #1D1D1D;
  border-radius: 10px;
  text-align: center;
}

#all-posts-preview-container {
  display: flex;
  gap: 3rem;
  margin-top: 5rem;
}

.blogpost-preview-image {
  height: 15rem;
  border-radius: 10px;
  position: relative;
}

.main-content-preview {
  margin-top: 2rem;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#blogpost {
  color: white;
  width: 800px;
  font-size: large;
  margin: 5rem auto;
  margin-top: 7rem;
}

.hljs {
  border-radius: 7px;
}

#return-to-blog {
  font-weight: bold;
  color: #5a5a5a;
}

#return-to-blog:hover {
  cursor: pointer;
}

.alt-text {
  font-style: italic;
  color: #767676;
}

.hint-container {
  background-color: rgb(66, 171, 66);
  border-radius: 10px;
}

.hint-heading {
  background-color: rgb(49, 124, 49);
  padding: 0 2rem;
  color: rgb(148, 197, 145);
  font-weight: bold;
}

.hint-text {
  padding: 0 2rem;
}

#tag-container {
  margin-top: 10rem;
  margin-left: 8vw;
  color: white;
}

@media only screen and (max-width: 830px) {
  #all-posts-preview-container {
    flex-direction: column;
    align-items: center;
  }

  .blogpost-preview-container {
    margin: 0 auto;
  }

  #blog-container {
    margin-left: 0;
  }

  #blogpost {
    width: 95vw
  }

}