html,
body {
  padding: 0;
  margin: 0;
  background: #242424;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family:  "montserrat", Arial, Helvetica, sans-serif;
}

/* LANDING */
#landing-container {
  margin-left: 8vw;
  width: 92vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.landing-robyte {
  color: white;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 2rem;
}

.yellow-text {
  color: #EDCA66;
}

#landing-subtext {
  margin-top: 0;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  width: 35%;
}

#nav-badges{
 display: flex;
 align-items: flex-start;
 margin: 4rem 0;
 padding: 0;
}

.nav-badge {
  list-style-type: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.6rem 1.3rem;
  margin-right: 2rem;
}

#scroll-icon {
  position: absolute;
  left: 47%;
  top: 86%;
  fill: rgb(152, 152, 152);
  width: 40px;
}

circle {
  animation: scroll 3s ease infinite;
}

@keyframes scroll {
  0% { 
    opacity: 0;
    cy: 481;
  }
  33% {
    opacity: 1;
  }
  100% { 
    opacity: 0;
    cy: 231;
  }
}

/* NAVBAR */
#nav-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 3rem;
}

#nav-login {
  margin: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 0.8rem 1.3rem;
  background-color: #EDCA66;
}

#nav-login:hover, #nav-logout:hover {
  cursor: pointer;
}

#nav-logout {
  margin: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  outline: none;
  border: 2px solid #EDCA66;
  color: #EDCA66;
  border-radius: 30px;
  padding: 0.8rem 1.3rem;
  background-color: inherit;
}

/* PROGRAMMING */
#programming-container {
  margin-top: 5rem;
  margin-left: 8vw;
  color: white;
}

.section-title-badge {
  display: flex;
  align-items: center;
}

.section-title {
  font-weight: bold;
  font-size: 2rem;
}

.section-title-description {
  font-size: 1.2rem;
  margin-top: 0;
}

#programming-projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}

.programming-project-container {
  width: 35rem;
  height: 23rem;
  border-radius: 10px;
  background: #3D3D3D;
  display: flex;
  align-items: flex-end;
}

.programming-project-container:hover {
  cursor: pointer;
}

.programming-project-text {
  background: #1D1D1D;
  height: 30%;
  width: 100%;
text-align: center;
}

/* ART */
#art-container {
  margin-top: 5rem;
  margin-left: 8vw;
  color: white;
}

.art-project-container {
  width: 35rem;
  height: 23rem;
  border-radius: 10px;
  background: #3D3D3D;
  display: flex;
  align-items: flex-end;
}

.art-project-container:hover {
  cursor: pointer;
}

/* FOOTER */
.footerItemHeading {
  padding: 1rem;
  font-weight: 600;
  font-style: normal;
  font-family: "Montserrat", serif;
  color: #ffffff;
  font-size: 1.3rem;
}

#footerContainer {
  margin: 0;
  margin-top: 8vh;
  padding: 0;
  width: 100vw;
  background-color: #2b2b2b;
  overflow: visible;
  position: absolute;
}

.footerItemItem {
  font-size: 1rem;
  color: #a6a6a6;
  padding: 4px 1rem;
}

#footerContent {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.vertical {
  border: 1px solid #707070;
  height: 7rem;
  margin-top: 8rem;
  width: 2x;
}

#footerCopyright {
  background-color: #303030;
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100vw;
  color: #9d9d9d;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

#footer-input {
  background: #F8F8F8;
  padding: 1rem 1.3rem;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  width: 90%;
  height: 50px;
  outline: none;
}


#footer-submit {
  outline: none;
  border: none;
  font-weight: bold;
  height: 50px;
  padding: 1rem 1.3rem;
  font-family: "Montserrat", sans-serif;
background: #EFBA13;
border-top-right-radius: 17px;
border-bottom-left-radius: 17px;
margin-left: -5rem;
}

/* LOGIN */
#login-page-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#login-page-right {
  /* flex: 2; */
  height: 70vh;
  min-width: 30vw;
  border-radius: 15px;
  background-color: #3C3C3C;
}

#login-page-left {
  /* flex: 1; */
}

#email-login {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.login-input {
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  height: 2.6rem;
  padding: 1.2rem;
  margin-bottom: 2rem;
}

.login-label {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0.8rem;
}

#login-submit-button, #signup-submit-button {
  text-align: center;
  width: 40%;
  font-size: 1.1rem;
  background: #EFBA13;
  border: none;
  outline: none;
  border-radius: 15px;
  font-weight: bold;
  padding: 0.7rem 1.3rem ;
}

#login-submit-button:hover {
  cursor: pointer;
  background: #e0b013;
}

#signup-submit-button {
  margin-left: 6rem;
  background: none;
  color: #EFBA13;
  border: 1px solid #efba13;
}

#signup-submit-button:hover {
  cursor: pointer;
  border: 1px solid #bd9615;
  color: #bd9615;
}

#provider-logins {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* PROJECT DETAILS */

#backdrop {
  background: rgba(0, 0, 0, 0.9);
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  overflow-y: hidden;
}