@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

html {
  /* zoom: 75%; */
  font-size: 75%;
}

html,
body {
  padding: 0;
  margin: 0;
  background: #242424;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.spinner {
  display: none !important;
}

a {
  color: #efba13;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* LANDING */
#landing-container {
  margin-left: 8vw;
  width: 92vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes spaceship_animation {
  from {
    top: -90rem;
    right: -120rem;
  }

  to {
    right: -10rem;
    top: -5rem;
  }
}

#landing-spaceship {
  width: 90%;
  position: absolute;
  right: -10rem;
  top: -5rem;
  opacity: 50%;
  animation: 2s spaceship_animation ease-out;
}

@keyframes robytetext {
  from {
    transform: translateY(6rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    display: visible;
    opacity: 100%;
  }
}

.landing-robyte {
  opacity: 0;
  color: white;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 2rem;
  animation: 700ms robytetext 100ms forwards;
}

.login-robyte {
  color: white;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 2rem;
}

.yellow-text {
  color: #EDCA66;
}

@keyframes undertext {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

#landing-subtext {
  opacity: 0%;
  margin-top: 0;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  width: 35%;
  animation: undertext 700ms 200ms forwards;
}

#nav-badges {
  display: flex;
  align-items: flex-start;
  margin: 4rem 0;
  padding: 0;
  overflow: visible;
  opacity: 0;
  animation: undertext 700ms 500ms forwards;
}

.badge {
  color: white;
}

.nav-badge {
  list-style-type: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 0.6rem 1.3rem;
  margin-right: 2rem;
  transition: all 100ms;
}

.nav-badge:hover {
  transform: scale(1.03);
}

#scroll-icon {
  position: absolute;
  left: 47%;
  top: 86%;
  fill: rgb(152, 152, 152);
  width: 30px;
}

circle {
  animation: scroll 3s ease infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    cy: 481;
  }

  33% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    cy: 231;
  }
}

/* NAVBAR */
#nav-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 3rem;
  gap: 3rem;
  align-items: center;
  width: 100%;
}

.nav-robyte {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-robyte:hover {
  cursor: pointer;
}

.nav-item:first-of-type {
  margin-left: 7vw;
  margin-right: auto;
}

.nav-link {
  /* color: white; */
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 100ms;
}

#nav-login {
  margin: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 0.8rem 1.3rem;
  background-color: #EDCA66;
}

#nav-login:hover,
#nav-logout:hover {
  cursor: pointer;
}

#nav-logout {
  margin: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  outline: none;
  border: 2px solid #EDCA66;
  color: #EDCA66;
  border-radius: 30px;
  padding: 0.8rem 1.3rem;
  background-color: inherit;
}

/* PROGRAMMING */
#programming-container {
  margin-top: 5rem;
  margin-left: 8vw;
  color: white;
  overflow: visible;
}

.section-title-badge {
  display: flex;
  align-items: center;
}

.section-title {
  font-weight: bold;
  font-size: 2rem;
}

.section-title-description {
  font-size: 1.2rem;
  margin-top: 0;
}

#programming-projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
  overflow: visible;
}

.programming-project-container {
  width: 35rem;
  height: 23rem;
  border-radius: 10px;
  background: #3D3D3D;
  display: flex;
  align-items: flex-end;
  transition: all 300ms;
}

.programming-project-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.programming-project-text {
  background: #1D1D1D;
  height: 30%;
  width: 100%;
  text-align: center;
}

#add-project-button {
  border: none;
  outline: none;
  background-color: rgb(68, 121, 88);
  color: white;
  border-radius: 50px;
  font-size: 2rem;
  width: 2.5rem;
}

/* ART */
#art-container {
  margin-top: 5rem;
  margin-left: 8vw;
  color: white;
  overflow: visible;
}

.art-project-container {
  width: 35rem;
  height: 23rem;
  border-radius: 10px;
  background: #3D3D3D;
  display: flex;
  align-items: flex-end;
  transition: all 300ms;
  overflow: visible;
}

.art-project-container:hover {
  cursor: pointer;
  transform: scale(1.03);
}

#view-more-projects {
  font-size: 1.5rem;
}

#view-more-projects:hover {
  cursor: pointer;
}

/* ABOUT */
#about-container {
  color: white;
  margin-top: 5rem;
  margin-left: 8vw;
}

/* #profile-img {
  width: 14rem;
} */

#profile-name {
  font-size: 1.93rem;
}

#about-me-container {
  display: flex;
  align-items: flex-start;
  gap: 4rem;
  margin-top: 4rem;
}

#welcome-text {
  font-size: 2rem;
  margin-top: 0;
}

.about-text {
  font-size: 1.4rem;
}

#skills-container {
  background-color: #1B1B1B;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.skill-category {
  text-align: center;
  color: white;
  margin: 4rem;
  width: 200px;
}

.skill-headlogo {
  color: #EDCA66;
  font-size: 2.5rem;
}

.skill-title {
  color: #EDCA66;
  margin-top: 0.4rem;
  font-size: 1.4rem;
}

.skill-description {
  font-size: 1.3rem;
  font-weight: bold;
}

.skill-icons {
  margin-top: 2.4rem;
  display: flex;
  gap: 1rem;
  color: #4D4D4D;
  justify-content: center;
  font-size: 2.4rem;
  flex-wrap: wrap;
}

/* CONTACT */
#contact-container {
  color: white;
  margin-left: 8vw;
  margin-top: 5rem;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-top: 4rem;
}

.form-input {
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 1.4rem;
  height: 2.3rem;
  padding-left: 1rem;
  background-color: #f4f4f4;
}

.form-label {
  margin-bottom: 0.4rem;
}

#contact-submit {
  border-radius: 10px;
  width: auto;
  margin-top: 1rem;
  padding: 0.7rem 1.2rem;
  align-self: center;
  background: #efba13;
  border: none;
  font-weight: bold;
}

#contact-submit:hover {
  cursor: pointer;
  background-color: #d0a20c;
}

/* FOOTER */
.footerItemHeading {
  padding: 1rem;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  font-size: 1.3rem;
}

#footerContainer {
  margin: 0;
  margin-top: 8vh;
  padding: 0;
  width: 100vw;
  background-color: #2b2b2b;
  overflow: visible;
  position: absolute;
}

.footerItemItem {
  font-size: 1rem;
  color: #a6a6a6;
  padding: 4px 1rem;
}

#footerContent {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.vertical {
  border: 1px solid #707070;
  height: 7rem;
  margin-top: 8rem;
  width: 2x;
}

#footerCopyright {
  background-color: #303030;
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100vw;
  color: #9d9d9d;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

#footer-input {
  background: #F8F8F8;
  padding: 1rem 1.3rem;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  width: 90%;
  height: 40px;
  outline: none;
  border: none;
}


#footer-submit {
  outline: none;
  border: none;
  font-weight: bold;
  height: 40px;
  padding: 1rem 1.3rem;
  background: #EFBA13;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  margin-left: -5rem;
}

#footer-submit:hover {
  background: #dcad12;
  cursor: pointer;
}

/* LOGIN */
#login-page-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#login-page-right {
  height: 70vh;
  min-width: 30vw;
  border-radius: 15px;
  background-color: #3C3C3C;
}

#email-login {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.login-input {
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  height: 2.6rem;
  padding: 1.2rem;
  margin-bottom: 2rem;
}

.login-label {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0.8rem;
}

#login-submit-button,
#signup-submit-button {
  text-align: center;
  width: 40%;
  font-size: 1.1rem;
  background: #EFBA13;
  border: none;
  outline: none;
  border-radius: 15px;
  font-weight: bold;
  padding: 0.7rem 1.3rem;
}

#login-submit-button:hover {
  cursor: pointer;
  background: #e0b013;
}

#signup-submit-button {
  margin-left: 6rem;
  background: none;
  color: #EFBA13;
  border: 1px solid #efba13;
}

#signup-submit-button:hover {
  cursor: pointer;
  border: 1px solid #bd9615;
  color: #bd9615;
}

#provider-logins {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* RESPONSIVE */

@media only screen and (max-width: 950px) {
  #landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
  }

  #landing-container {
    margin: 0;
    justify-content: flex-start;
    margin-top: 10vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
  }

  #landing-subtext {
    width: 80%;
  }

  #nav-badges {
    justify-content: center;
    width: 100vw;
    text-align: center;
    padding: 0;
  }

  .nav-badge:last-child {
    margin: 0;
  }

  #landing-spaceship {
    width: 200vw;
    left: 0;
    top: 30vh;
    opacity: 20%;
  }


  #nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 1rem 0 0 0;
    padding: 0;
  }

  .nav-item:first-of-type {
    display: none;
  }

  .bigscreen {
    display: none;
  }

  .nav-item {
    padding: none;
  }

  .about-nav-item {
    display: none;
  }

  .nav-badge {
    font-size: 0.9rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  #programming-container,
  #art-container,
  #about-container,
  #contact-container {
    margin: 1.5rem;
  }

  #footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #footerContact {
    width: 80%;
  }

  .art-detailed-container {
    margin-top: 15vh !important;
  }

  #project-container {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  #project-preview {
    width: 100% !important;
    height: 30%;
  }

  #project-details {
    width: 100% !important;
  }

  #close-details {
    top: 35vh !important;
  }

  #about-me-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #welcome-text-container {
    width: 90% !important;
  }

  #contact-img {
    display: none;
  }

  #contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #contact-form {
    width: 90%;
  }
}