@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');

html {
  /* zoom: 75%; */
  font-size: 75%;
}

html,
body {
  padding: 0;
  margin: 0;
  background: rgb(36,36,32);
  background: linear-gradient(180deg, rgba(36,36,32,1) 9%, rgb(28 28 69) 60%, rgb(16 16 24) 100%);
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #90A4AE none;
  scroll-behavior: smooth!important;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: none;
}
body::-webkit-scrollbar-thumb {
  background-color: #90A4AE;
  border-radius: 6px;
  border: 3px solid none;
}

.spinner {
  display: none !important;
}

a {
  color: #efba13;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

/* LANDING */
#landing-container {
  padding-left: 8vw;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #0d0a0f;

}

#landing-spaceship {
  width: 90%;
  position: absolute;
  right: -10rem;
  bottom: -5rem;
  opacity: 60%;
  z-index: 1;
  transform: translateX(0);
  mix-blend-mode: lighten;
  /* animation: spaceshipoutin 2s ease-in-out infinite; */
}

@keyframes spaceshipoutin {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-200vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes robytetext {
  from {
    transform: translateY(6rem);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    display: visible;
    opacity: 100%;
  }
}

#landing-moon {
  width: 120%;
  height: 70%;
  position: absolute;
  top: 70%;
  left: -10rem;
  z-index: 1;
}

.landing-robyte {
  opacity: 0;
  color: white;
  font-weight: bold;
  font-size: 8rem;
  margin-bottom: 2rem;
  animation: 700ms robytetext 100ms forwards;
}

.login-robyte {
  color: white;
  font-weight: bold;
  font-size: 6rem;
  margin-bottom: 2rem;
}

.yellow-text {
  color: #EDCA66;
}

.lighter-yellow-text {
  color: #f9f7a4;
}

#landing-unique, #creative {
  transition: 100ms all;
}

#landing-unique:hover, #creative:hover {
  cursor: pointer;
  font-size: xx-large;
  text-decoration: underline;
}

@keyframes undertext {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}

#landing-subtext {
  opacity: 0%;
  margin-top: 0;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  width: 35%;
  animation: undertext 700ms 200ms forwards;
}

#landing-cta-buttons {
  margin-top: 3rem;
  overflow: visible;
  padding-bottom: 1rem;
}

#landing-primary {
  color: #191919;
  background-color: #8F9CB5;
  font-weight: bold;  border: none;
  outline: none;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 3px;
  font-size: 1.5rem;
  margin-left: 3px;
  transition: 100ms all ease-in-out;
}

#landing-secondary {
  color: #8F9CB5;
  border: 2px solid #8F9CB5;
  font-weight: bold;
  background: none;
  outline: none;
  padding: 1rem 2rem;
  margin-left: 3rem;
  border-radius: 3px;
  font-size: 1.5rem;
  transition: 100ms all;
}

#landing-primary:hover {
  background-color: #8f92b5;
  color: black;
  cursor: pointer;
  transform: scale(1.03);
}

#landing-secondary:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#nav-badges {
  display: flex;
  gap: 1.5rem;
  align-items: flex-start;
  margin: 4rem 0;
  padding: 0;
  overflow: visible;
  opacity: 0;
  animation: undertext 700ms 500ms forwards;
}

.badge {
  color: white;
}

.nav-badge {
  list-style-type: none;
  border-radius: 8px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 0.6rem 1.3rem;
  transition: all 100ms;
}

.nav-badge:hover {
  transform: scale(1.03);
}

#scroll-icon {
  display: none;
  position: absolute;
  left: 47%;
  top: 86%;
  fill: rgb(152, 152, 152);
  width: 30px;
}

circle {
  animation: scroll 3s ease infinite;
}

@keyframes scroll {
  0% {
    opacity: 0;
    cy: 481;
  }

  33% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    cy: 231;
  }
}


.asteroid {
  position: absolute;
  z-index: -1;
}

.asteroid1 {
  width: 20rem;
  top: 20vh;
  left: 3vw;
  animation: asteroid 12s ease-in-out infinite;
}

.asteroid2 {
  width: 6rem;
  top: 60vh;
  left: 15vw;
  animation: asteroid 8s ease-in-out infinite;
}

.asteroid3 {
  z-index: 0;
  width: 20rem;
  top: 80vh;
  left: 15vw;
  animation: asteroid 8s ease-in-out infinite;
}

.asteroid4 {  
  z-index: 0;
  width: 8rem;
  top: 110vh;
  right: 20vw;
  animation: asteroid 14s ease-in-out infinite;
}

#comet {
  position: absolute;
  z-index: 0;
  width: 10rem;
  top: 5vh;
  left: 0;
  opacity: 1;
  animation: comet 1s linear infinite;
}

@keyframes comet {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  100% {
    transform: translate(30vw, 90vh);
  }
}

@keyframes asteroid {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(1vw, 7vh) rotate(10deg);
  }

  100% {
    transform: translate(0, 0);
  }
}


/* STATS */
#stats-container {
 position: relative;
 width: 100vw;
 display: flex;
 justify-content: space-evenly;
 text-align: center;
 color: rgb(202, 202, 202);
 font-size: 1.8rem;
 z-index: 2;
 overflow: visible;
}

.stat-icon {
  color: white;
  height: 5rem;
  width: 5rem;
  margin-bottom: 1rem;
}

.statistic {
  width: 30rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-top: 9rem;
  margin-bottom: 1rem;
  padding: 3rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  background-color: #181818;
  transition: 100ms ease-in-out;
}

.statistic:hover {
  transform: scale(1.03);
  background-color: #101010;
}

.stats-number {
  color: white;
  font-weight: bold;
  font-size: xx-large;
}

/* TIMELINE SECTION */
#timeline-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

.workflow-title {
  color: white;
  font-size: 4rem;
  margin-top: 15rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

#horizontal-timeline {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
  position: relative;
  z-index: 5;
  overflow: visible;
}

#horizontal-timeline::after {
  content: "";
  width: 10%;
  height: 4px;
  background-color: #8F9CB5;
  position: absolute;
  top: 7.3rem;
}

#vertical-timeline {
  text-align: center;
  z-index: 1;
  overflow: visible;
}

.workflow-undertitle {
  font-weight: bold;
  font-size: 3rem;
  color: #E3DF9B;
  margin-bottom: 0.7rem;
}

.workflow-description {
  color: #B7B7B7;
  font-size: 1.8rem;
}

.workflow-section {
  position: relative;
  width: 30rem;
  margin-bottom: 7rem;
  transition: 200ms all ease-in-out;
}

#timeline-start-icon {
  position: absolute;
  color: #8F9CB5;
  font-size: 7rem;
  top: 3.8rem;
  height: 8rem;
  padding-right: 2rem;
  left: 11rem;
  border-right: #8F9CB5 4px solid;
}

#timeline-path-down {
  height: 10rem;
  width: 3rem;
  border-right: 4px solid #8F9CB5;
  border-bottom: 4px solid #8F9CB5;
  position: absolute;
  top: 45rem;
  right: 33%;
}

#timeline-path-down-2 {
  height: 6rem;
  width: 3rem;
  border-right: 4px solid #8F9CB5;
  position: absolute;
  top: 65rem;
  right: 50%;
}

#code-video {
  width: 70vw;
  clip-path: inset(4.8% 5.5% 4% 6% round 10px);
  transition: all 100ms ease-in-out;
  box-shadow: 20px 20px 50px 10px rgba(0, 0, 0, 1);
}

#workflow-build {
  margin-top: 10rem;
  margin-bottom: 0;
}

#timeline-deploy {
  color: rgb(31, 31, 31);
  border-radius: 6px;
  font-size: 2rem;
  padding: 0.7rem 1.3rem;
  font-weight: bold;
  border: none;
  background-color: #f4cb45;
  margin: 2rem;
  outline: none;
  transition: all 100ms ease-in-out;
}

#timeline-deploy:hover {
  transform: scale(1.03);
  cursor: pointer;
  background-color: #ffdf75;
}

#code-video-container {
  filter: drop-shadow(-1px 6px 13px rgba(0, 0, 0, 0.2));
}

/* NAVBAR */
#nav-container {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 3rem;
  gap: 3rem;
  align-items: center;
  width: 100%;
}

.nav-robyte {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.nav-robyte:hover {
  cursor: pointer;
}

.nav-item:first-of-type {
  margin-left: 7vw;
  margin-right: auto;
}

.nav-link {
  /* color: white; */
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 100ms;
}

#nav-login {
  margin: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  outline: none;
  border: none;
  border-radius: 30px;
  padding: 0.8rem 1.3rem;
  background-color: #EDCA66;
}

#nav-login:hover,
#nav-logout:hover {
  cursor: pointer;
}

#nav-logout {
  margin: 1rem 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  outline: none;
  border: 2px solid #EDCA66;
  color: #EDCA66;
  border-radius: 30px;
  padding: 0.8rem 1.3rem;
  background-color: inherit;
}

/* PROGRAMMING */
#programming-container {
  margin-top: 10vh;
  color: white;
  overflow: visible;
}

#programming-text {
  margin-bottom: 5rem;
}

.section-title-badge {
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  color: white;
  font-size: 4rem;
  margin-top: 1;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

.section-title-description {
  font-size: 1.6rem;
  color: #b6b6b6;
  margin-top: 0;
  text-align: center;
}

#programming-projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  overflow: visible;
  padding: 5rem;
  background-color: #06061b55;
  border-radius: 15px;
  filter: drop-shadow(-1px 6px 13px rgba(0, 0, 0, 0.5));
  max-width: 90vw;
  min-width: 80vw;
  margin: 2rem auto;
}

.programming-project-container {
  width: 33rem;
  height: 23rem;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  transition: all 300ms;
}

.programming-project-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.programming-project-text, #view-on-github-text {
  background: #363a49;
  height: 30%;
  width: 100%;
  text-align: center;
}

#view-gh-icon, #view-art-icon {
  height: 6rem;
  width: 6rem;
}

#view-on-github-text, #view-more-art {
  font-size: 1.4rem;
  gap: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#view-on-github-text {
  height: 100%;

}

#add-project-button {
  border: none;
  outline: none;
  background-color: rgb(68, 121, 88);
  color: white;
  border-radius: 50px;
  font-size: 2rem;
  width: 2.5rem;
}

/* ART */
#art-container {
  margin-top: 15rem;
  color: white;
  overflow: visible;
}

#art-text {
  margin-bottom: 5rem;
}

.art-project-container {
  width: 33rem;
  height: 23rem;
  border-radius: 10px;
  background: #3D3D3D;
  display: flex;
  align-items: flex-end;
  transition: all 300ms;
  overflow: visible;
}

.art-project-container:hover {
  cursor: pointer;
  transform: scale(1.03);
}

#view-more-projects {
  font-size: 1.5rem;
}

#view-more-projects:hover {
  cursor: pointer;
}

/* ABOUT */
#about-container {
  color: white;
  margin-top: 15rem;
}

/* #profile-img {
  width: 14rem;
} */

#profile-name {
  font-size: 1.93rem;
}

#about-me-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  margin: 4rem auto;
}

#welcome-text {
  font-size: 2rem;
  margin-top: 0;
}

.about-text {
  font-size: 1.4rem;
}

#skills-container {
  background-color: #0b080f;
  margin-top: 8rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5rem 0;
}

.skill-category {
  text-align: center;
  color: white;
  margin: 4rem;
  width: 200px;
}

.skill-headlogo {
  color: #EDCA66;
  font-size: 2.5rem;
}

.skill-title {
  color: #EDCA66;
  margin-top: 0.4rem;
  font-size: 1.4rem;
}

.skill-description {
  font-size: 1.3rem;
  font-weight: bold;
}

.skill-icons {
  margin-top: 2.4rem;
  display: flex;
  gap: 1rem;
  color: #4D4D4D;
  justify-content: center;
  font-size: 2.4rem;
  flex-wrap: wrap;
}

/* CONTACT */
#contact-container {
  color: white;
  margin-top: 15rem;
}

#contact-form-container {
  display: flex;
  justify-content: center;
  gap: 20rem;
  margin: 2rem auto;
}

#contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  margin-top: 4rem;
}

.form-input {
  border: none;
  outline: none;
  border-radius: 5px;
  margin-bottom: 1.4rem;
  height: 2.3rem;
  padding-left: 1rem;
  background-color: #f4f4f4;
}

.form-label {
  margin-bottom: 0.4rem;
}

#contact-submit {
  border-radius: 10px;
  width: auto;
  margin-top: 1rem;
  padding: 0.7rem 1.2rem;
  align-self: center;
  background: #efba13;
  border: none;
  font-weight: bold;
}

#contact-submit:hover {
  cursor: pointer;
  background-color: #d0a20c;
}

/* FOOTER */
.footerItemHeading {
  padding: 1rem;
  font-weight: 600;
  font-style: normal;
  color: #ffffff;
  font-size: 1.3rem;
}

#footerContainer {
  margin: 0;
  padding: 0;
  width: 100vw;
  background-color: #2b2b2b;
  overflow: visible;
  position: absolute;
}

.footerItemItem {
  font-size: 1rem;
  color: #a6a6a6;
  padding: 4px 1rem;
}

#footerContent {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4rem;
}

.vertical {
  border: 1px solid #707070;
  height: 7rem;
  margin-top: 8rem;
  width: 2x;
}

#footerCopyright {
  background-color: #303030;
  position: absolute;
  bottom: 0;
  height: 35px;
  width: 100vw;
  color: #9d9d9d;
  font-size: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

#footer-input {
  background: #F8F8F8;
  padding: 1rem 1.3rem;
  border-top-left-radius: 17px;
  border-bottom-left-radius: 17px;
  width: 90%;
  height: 40px;
  outline: none;
  border: none;
}


#footer-submit {
  outline: none;
  border: none;
  font-weight: bold;
  height: 40px;
  padding: 1rem 1.3rem;
  background: #EFBA13;
  border-top-right-radius: 17px;
  border-bottom-left-radius: 17px;
  margin-left: -5rem;
}

#footer-submit:hover {
  background: #dcad12;
  cursor: pointer;
}

/* LOGIN */
#login-page-container {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

#login-page-right {
  height: 70vh;
  min-width: 30vw;
  border-radius: 15px;
  background-color: #3C3C3C;
}

#email-login {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  margin-top: 5rem;
}

.login-input {
  border-radius: 30px;
  border: none;
  outline: none;
  font-size: 1.2rem;
  height: 2.6rem;
  padding: 1.2rem;
  margin-bottom: 2rem;
}

.login-label {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
  margin-bottom: 0.8rem;
}

#login-submit-button,
#signup-submit-button {
  text-align: center;
  width: 40%;
  font-size: 1.1rem;
  background: #EFBA13;
  border: none;
  outline: none;
  border-radius: 15px;
  font-weight: bold;
  padding: 0.7rem 1.3rem;
}

#login-submit-button:hover {
  cursor: pointer;
  background: #e0b013;
}

#signup-submit-button {
  margin-left: 6rem;
  background: none;
  color: #EFBA13;
  border: 1px solid #efba13;
}

#signup-submit-button:hover {
  cursor: pointer;
  border: 1px solid #bd9615;
  color: #bd9615;
}

#provider-logins {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* RESPONSIVE */

@media only screen and (max-width: 950px) {
  #landing-moon {
    display: none;
  }

  #landing-cta-buttons {
    display: flex;
    justify-content: center;
  }

  .nav-github {
    display: none;
  }

  .landing-robyte {
    font-size: 7rem;
  }

  #landing-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
  }

  #landing-container {
    margin: 0;
    justify-content: flex-start;
    margin-top: 10vh;
    width: 100vw;
    overflow-x: hidden;
    position: relative;
    overflow: hidden;
    background-color: #242424;
    padding: 0;
  }

  #landing-subtext {
    width: 80%;
  }

  #nav-badges {
    justify-content: center;
    width: 100vw;
    text-align: center;
    padding: 0;
  }

  .nav-badge:last-child {
    margin: 0;
  }

  #landing-spaceship {
    width: 150vw;
    left: 0;
    top: 50vh;
    opacity: 20%;
  }


  #nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    margin: 1rem 0 0 0;
    padding: 0;
  }

  .nav-item:first-of-type {
    display: none;
  }

  .bigscreen {
    display: none;
  }

  .nav-item {
    padding: 0;
  }

  .about-nav-item {
    display: none;
  }

  .nav-badge {
    font-size: 0.9rem;
  }

  .section-title {
    font-size: 1.5rem;
  }

  #stats-container {
    flex-direction: column;
    width: 100vw;
    align-items: center;
    justify-content: start;
    margin-top: -8rem;
  }

  #timeline-start-icon, #timeline-path-down, #timeline-path-down-2, #horizontal-timeline::after {
    display: none;
  }

  #horizontal-timeline {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  #programming-container,
  #art-container,
  #about-container,
  #contact-container {
    margin: 1.5rem;
    margin-top: 8rem;
  }

  #footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  #footerContact {
    width: 80%;
  }

  .art-detailed-container {
    margin-top: 15vh !important;
  }

  #project-container {
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  #project-preview {
    width: 100% !important;
    height: 30%;
  }

  #project-details {
    width: 100% !important;
  }

  #close-details {
    top: 35vh !important;
  }

  #about-me-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #welcome-text-container {
    width: 90% !important;
  }

  #contact-img {
    display: none;
  }

  #contact-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  #contact-form {
    width: 90%;
  }
}