.store-container {
    margin-top: 10rem;
    margin-left: 8vw;
    color: white;
}

.store-title {
    font-size: 2.5rem;
    font-weight: bold;
}

.store-subtitle {
    font-size: 1.5rem;
    margin-top: 1rem;
    color: rgb(226, 226, 226);
}

#store-products-container {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 8rem;
    margin-bottom: 4rem;
    overflow: visible;
}

.store-product {
    text-align: center;
    background-color: #191919;
    border-radius: 10px;
    width: 25rem;
    transition: 100ms all ease-in-out;
}

.store-product:hover {
    transform: scale(1.02);
}

.product-section-cta {
    color: #191919;
    background-color: #879CCC;
    font-weight: bold;
    padding: 0.7rem 1.5rem;
    border-radius: 12px;
    margin-bottom: 3rem;
    margin-top: 1rem;
    transition: all 100ms;
    outline: none;
    border: none;
}

.product-section-cta:hover {
    background-color: #83a3d3;
    transform: scale(1.05);
    cursor: pointer;
}

.product-section-title {
    font-size: 2rem;
    margin-top: 2rem;
    color: #CFCFCF;
}

.product-section-icon {
    color: #CFCFCF;
    width: 3rem;
    height: 3rem;
}

.product-section-description {
    color: #CFCFCF;
    font-size: 1.3rem;
    margin: 2rem;
}

/* PRODUCTS */

.product-options-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

.product-option {
    border: 4px solid #848484;
    border-radius: 15px;
    width: 25rem;
    height: 30rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-option-popular {
    border: 4px solid #879CCC;
    border-radius: 15px;
    width: 26rem;
    height: 34rem;
    margin-top: 2rem;
    position: relative;
    overflow: visible;
    padding-top: 2rem;
}

.product-popular-text {
    font-weight: bold;
    color: #879CCC;
    position: absolute;
    top: -2.8rem;
    font-size: 2rem;
    background-color: #242424;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 1.3rem;
}

.product-title {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.product-price {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}

.secondary-cta-product, .primary-cta-product {
    outline: none;
    border: 4px solid #848484;
    border-radius: 8px;
    background: none;
    color: #848484;
    font-weight: bold;
    margin: 3rem 0 2rem 0;
    padding: 0.7rem 1.3rem;
    position: absolute;
    bottom: 0;
    transition: all 100ms;
}

.primary-cta-product {
    color: #202020;
    background-color: #879CCC;
    border: none;
    transform: translateX(-50%);
}

.primary-cta-product:hover {
    background-color: #83a3d3;
    cursor: pointer;
    transform: translateX(-50%) scale(1.05);
}

.secondary-cta-product:hover {
    background-color: #848484;
    color: #202020;
    cursor: pointer;
    transform: scale(1.05);
}

.product-included-title {
    font-weight: bold;
    font-size: 1.3rem;
    color: #CFCFCF;
}

.product-included-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #8CCC91;
    text-align: left;
    align-self: flex-start;
    margin-left: 5rem;
    justify-self: center;
}


/* Actual Store */

#store-bg {
    background: radial-gradient(50% 50.00% at 50% 50.00%, #2B282F 0%, #131313 100%);;
    display: flex;
    justify-content: center;
}

#store-page-container {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 90vw;
}

#store-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#store-sections {
    font-family: "Poppins", sans-serif;
    display: flex;
    gap: 3rem;
    align-items: center;
    width: 100%;
}

#store-section {
    color: #6D6D6D;
    font-weight: 500;
    cursor: pointer;
}

#store-section:hover {
    color: #CFCFCF;
}

#store-section-selected {
    background: #4F4565;
    color: #9C9C9C;
    border-radius: 50px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: 600;
}

#store-searchbox {
    position: relative;
    margin-right: 1rem;
}

#store-search {
    background: #33303A;
    color: #9C9C9C;
    border-radius: 10px;
    font-weight: 600;
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
    margin-right: 10rem;
    width: 190px;
}

#store-ctrlk {
    font-size: 10px;
    color: #9C9C9C;
    font-weight: 600;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 9px;
}

#store-filters {
    display: flex;
    gap: 1rem;
    align-items: center;
    color: #9C9C9C;
    align-self: flex-start;
    margin: 3rem;
}

#store-products {
    display: flex;
    align-self: flex-start;
    gap: 3rem;
    margin-left: 3rem;
    overflow: visible;
}

.store-product {
    background-color: #33303A;
    padding: 1rem;
    text-align: left;
}

.store-product-cta {
    background-color: #4F4565;
    outline: none;
    border: none;
    color: #D6D6D6;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: transform 100ms;
}

.store-product-cta:hover {
    background-color: #5f5378;
}

.store-product-cta:active {
    background-color: #4F4565;
    transform: scale(0.95);
}

.store-product-more {
    border: none;
    background: none;
    outline: none;
    color: #aaaaaa;
    margin-left: 1rem;
    cursor: pointer;
}

.store-product-more:hover {
    color: #CFCFCF;
}

.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    margin-left: 1rem;
}

.product-tag {
    border-radius: 50px;
    color: #33303A;
    outline: none;
    border: none;
    font-weight: 600;
    padding: 0.5rem 1rem;
    font-size: 10px;
    cursor: pointer;
    transition: all 100ms;
}

.product-tag:hover {
    filter: brightness(120%);
    color: #363636;
}

.product-icon {
    color: white;
    fill: white;
    width: 20px;
    height: 20px;
    margin-right: 2rem;;
}

.product-title {
    font-weight: 600;
    font-size: 1.3rem;
    color: #D6D6D6;
    display: flex;
    align-items: center;
    margin-right: 3rem;;
}

.product-description {
    font-size: 1rem;
    margin-bottom: 2rem;
    color: #d7d7d7;
    margin-left: 1rem;
}